html, body {
  padding: 0;
  margin: 0;
  cursor: default;
  background-color: #fff;
  font-family: 'Ubuntu Mono', monospace;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  overflow: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

h1 {
  text-align: center;
  font-size: 64px;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
}

input {
  border: 3px solid #000;
  border-radius: 0;
  box-shadow: 3px 6px #000;
  width: 90%;
  padding: 6px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

textarea {
  border: 3px solid #000;
  border-radius: 0;
  resize: none;
  box-shadow: 3px 6px #000;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: 400;
  padding: 6px;
  height: 45%;
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

button {
  border: 3px solid #000;
  border-radius: 0;
  box-shadow: 3px 6px #000;
  padding: 6px;
  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  font-weight: 700;
  background-color: #fff;
}

button:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 25%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.25);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 6px;
  padding-top: 0;
  padding-bottom: 0;
  border: 3px solid #000;
  box-shadow: 3px 6px #000;
  text-align: center;
  width: 50%;
  font-size: 16px;
}
